* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    padding: 48px 0;
}

nav {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 48px;
    /* width: 15vw; */
    list-style: none;
    text-decoration: none;
    position: fixed; /* Navigation bleibt fixiert */
    top: 0; /* Oben am Bildschirmrand */
    left: 0; /* Links am Bildschirmrand */
    height: 100vh; /* Höhe des Bildschirms */
    background-color: #f9f9f9; /* Hintergrundfarbe der Navigation */
}

a {
    text-decoration: none;
}

li + li {
    padding-top: 16px;
}

article {
    flex: 1;
    /* padding-left: 150px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    max-width: 65ch;
}

h1 {
    font-size: 36px;
    margin-bottom: 36px;
}

section + section {
    padding-top: 24px;
}

section:target {
    background-color: #bd0f0f;
    padding: 8px;
    color: bisque;
}

section:target >h2 {
    color: rgb(235, 53, 53);
}
